version: 2
jobs:
  build:
    docker:
      - image: circleci/node:current
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-
      - run:
          name: Install
          command: npm install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - run:
          name: Lint
          command: npm run lint
      - run:
          name: Gatsby build site
          command: npm run build
      - run:
          name: Tests
          command: npm run test -- tests --runInBand --ci --testResultsProcessor="jest-junit"
          environment:
            JEST_JUNIT_OUTPUT: "reports/junit/js-test-results.xml"
      - store_test_results:
          path: reports/junit
      - store_artifacts:
          path: coverage
      - run:
          name: Upload test coverage
          command: bash <(curl -s https://codecov.io/bash) -s coverage
