backend:
  name: git-gateway
  branch: master

media_folder: content/images
public_folder: /images

collections:
  - name: page
    label: Page
    folder: content/pages
    create: true
    fields:
      - { name: path, label: Path, widget: string }
      - { name: title, label: Title, widget: string }
      - { name: description, label: Description, widget: text }
      - { name: body, label: Body, widget: markdown }
